name: Release to NuGet
permissions:
  contents: read

on:
  release:
    types: [published]

jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Setup .NET SDK
        uses: actions/setup-dotnet@v1
      - name: Build
        run: dotnet build Shield.SDK/Shield.SDK.csproj -c Release
      - name: Test
        run: dotnet test Shield.SDK/Shield.SDK.csproj -c Release --no-build
      - name: Pack nugets
        run: dotnet pack Shield.SDK/Shield.SDK.csproj -c Release --no-build -p:Version=${{github.event.release.name}} --output .
      - name: Push to NuGet
        run: dotnet nuget push "*.nupkg" --api-key ${{secrets.nuget_api_key}} --source https://api.nuget.org/v3/index.json
